<h1 style="text-align: center">Articles</h1>



	<div class='cat'>
		
			<h3>{{articles.article_title}}</h3>
			<p>author:{{articles.name}}</p>
			<br>
			<p>{{articles.article_desc}}</p>
	</div>

<div>
<p>Date last modified: {{articles.date}}</p>
</div>
<div>
<a href="/article/edit/{{articles.id}}">Edit this Article</a>
</div>
