

 <header>
 
    <nav class="nav">
     <div id='button'>
         <form action="/about">
          <input type="submit" value="About">
         </form>
      </div>
     <!--  <a href="/categories">Category</a> -->
      <div id='button'>
         <form action="/categories">
          <input type="submit" value="Category">
         </form>
      </div>
      	
      <div id='button'>
         <form action="/contribute/{{id}}">
          <input type="submit" value="Contribute">
         </form>
      </div>
      	
       <div id='button'>
        <form>
        <input class="MyButton" type="button" value="Featured" onclick="window.location.href='https://en.wikipedia.org/wiki/Portal:Featured_content'" />
        </form>
       </div>

       <div id='button'>
        <form>
        <input class="MyButton" type="button" value="Random" onclick="window.location.href='http://en.wikipedia.org/wiki/Special:Random'" />
        </form>
       </div>
     
    </nav>
    </header>


<h1 style="text-align: center">Article</h1>



	<div class='cat'>
		
			<h3>{{articles.article_title}}</h3>
			<p>Author: {{articles.name}}</p>
			<br>
			<p>{{articles.article_desc}}</p>
	
	<br>
	<br>
	<br>

<p>Date last modified: {{articles.date}}</p>
<br>
<div id ='link'>
<a href="/article/edit/{{articles.id}}">Edit this Article</a>
</div>
<div id='link'>
<a href="/article/contact/{{articles.author_id}}">Contact: {{articles.name}}</a>
</div>

</div>
