<h1 style="text-align: center">Article</h1>



	<div class='cat'>
		
			<h3>{{articles.article_title}}</h3>
			<p>Author: {{articles.name}}</p>
			<br>
			<p>{{articles.article_desc}}</p>
	
	<br>
	<br>
	<br>

<p>Date last modified: {{articles.date}}</p>
<br>
<div id ='link'>
<a href="/article/edit/{{articles.id}}">Edit this Article</a>
</div>
<div id='link'>
<a href="/article/contact/{{articles.author_id}}">Contact: {{articles.name}}</a>
</div>

</div>
