<header>
    <nav class="nav">
        <div id='button'>
            <form action="/about">
                <input id="but" type="submit" value="About">
            </form>
        </div>
        <!--  <a href="/categories">Category</a> -->
        <div id='button'>
            <form action="/categories">
                <input id="but" type="submit" value="Category">
            </form>
        </div>
        {{#if user}}
        <div id='button'>
            <form action="/contribute/{{user}}">
                <input id="but" type="submit" value="Contribute">
            </form>
        </div>
        {{else}}
        <div id='button'>
            <form action="/contribute">
                <input id="but" type="submit" value="Contribute">
            </form>
        </div>
        {{/if}}
        <div id='button'>
            <input id="but" class="feature" type="button" value="Featured" />
        </div>
        <div id='button'>
            <input id="but" class="random" type="button" value="Random" />
        </div>
    </nav>
</header>
<div class='sign'>
    {{#if user}}
    <p style="margin-right: 180px;"> Hello {{name}}</p>
    <div class='logout'>
        <form action="/sessions" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Log Out">
        </form>
    </div>
    {{else}}
    <a href="/signup">Sign Up</a>
    <a href="/login">Log In</a> {{/if}}
    <!-- <a href="/signup">Sign Up</a>
                <a href="/login">Log In</a>   -->
</div>
<div id="category">
    <h1 style="text-align: center">Categories</h1> {{#each categories.categories}}
    <div class='cat'>
        <a href="/categories/{{id}}">{{category}}</a>
    </div>
    {{/each}}
</div>
<div id='globe'>
</div>
