
 <header>
 
    <nav class="nav">
     <div id='button'>
         <form action="/about">
          <input type="submit" value="About">
         </form>
      </div>
     <!--  <a href="/categories">Category</a> -->
      <div id='button'>
         <form action="/categories">
          <input type="submit" value="Category">
         </form>
      </div>
      	
      <div id='button'>
         <form action="/contribute/{{id}}">
          <input type="submit" value="Contribute">
         </form>
      </div>
      	
       <div id='button'>
        <form>
        <input class="MyButton" type="button" value="Featured" onclick="window.location.href='https://en.wikipedia.org/wiki/Portal:Featured_content'" />
        </form>
       </div>

       <div id='button'>
        <form>
        <input class="MyButton" type="button" value="Random" onclick="window.location.href='http://en.wikipedia.org/wiki/Special:Random'" />
        </form>
       </div>
     
    </nav>
    </header>


	<h1 style="text-align: center">Write an article</h1>

  <form action="/posts" method="POST" style="clear: left; text-align: center;">
		<h2>Author: {{author.name}}</h2>
		<div>
		<select name ="category_id">
		{{#each categories}}
		<option value="{{id}}">{{category}}</option>
		{{/each}}
		</select>
		</div>
		<br>
		
		Article Title: <input type="text" name="title" placeholder="Enter Title"><br> <br>
	

		
		<textarea class="text" name="description" style="text-align: left; width: 400px; height: 400px; overflow: auto;" >{{article_desc}}</textarea>
		<br>
	<input type="submit" value="Submit">

</form>
