
 <header>
 <nav class="nav">
     <div class = "cover">
     <div id='button'>
         <form action="/about">
          <input id="but" type="submit" value="About">
         </form>
      </div>
      </div>
     <!--  <a href="/categories">Category</a> -->

      <div class = "cover">
      <div id='button'>
         <form action="/categories">
          <input id="but" type="submit" value="Category">
         </form>
      </div>
      </div>
        
      {{#if user}}
       <div class = "cover">
      <div id='button'>
         <form action="/contribute/{{user}}">
          <input id="but" type="submit" value="Contribute">
         </form>
      </div>
      </div>

        {{else}}
         <div class = "cover">
      <div id='button'>
         <form action="/contribute">
          <input id="but" type="submit" value="Contribute">
         </form>
      </div>
      </div>

        {{/if}}
          <div class = "cover">
       <div id='button'>
        
        <input id="but" class="feature" type="button" value="Featured" />
       
       </div>
       </div>

        <div class = "cover">
       <div id='button'>
        
        <input id="but" class="random" type="button" value="Random" />
      
       </div>
       </div>
     
    </nav>
    
    </header>


    
    <div class='sign'>
     
              {{#if user}}
                <p style="margin-right: 180px;"> Hello {{name}}</p> 
                
                 <div class='logout'>
<form action="/sessions" method="POST">
<input type="hidden" name="_method" value="DELETE">
  
  
<input type="submit" value="Log Out">
</form>
</div>
              {{else}}
                <a href="/signup">Sign Up</a>
                <a href="/login">Log In</a>

         
              {{/if}}
   
       <!-- <a href="/signup">Sign Up</a>
                <a href="/login">Log In</a>   -->
    </div>


	<h1 style="text-align: center">Write an article</h1>

  <form action="/posts" method="POST" style="clear: left; text-align: center;">
		<h2>Author: {{contribute.author.name}}</h2>
		<div>
		<select name ="category_id">
		{{#each contribute.categories}}
		<option value="{{id}}">{{category}}</option>
		{{/each}}
		</select>
		</div>
		<br>
		
		Article Title: <input type="text" name="title" placeholder="Enter Title"><br> <br>
	

		
		<textarea class="text" name="description" style="text-align: left; width: 400px; height: 400px; overflow: auto;" >{{contribute.article_desc}}</textarea>
		<br>
	<input type="submit" value="Submit">

</form>


<div id='globe'>

</div>