<header>
 <nav class="nav">
     
     <div id='button'>
         <form action="/about">
          <input id="but" type="submit" value="About">
         </form>
      
      </div>
     <!--  <a href="/categories">Category</a> -->

     
      <div id='button'>
         <form action="/categories">
          <input id="but" type="submit" value="Category">
         </form>
     
      </div>
        
      {{#if user}}
       
      <div id='button'>
         <form action="/contribute/{{user}}">
          <input id="but" type="submit" value="Contribute">
         </form>
    
      </div>

        {{else}}
        
      <div id='button'>
         <form action="/contribute">
          <input id="but" type="submit" value="Contribute">
         </form>

      </div>

        {{/if}}
         
       <div id='button'>
        
        <input id="but" class="feature" type="button" value="Featured" />
       
    
       </div>

        
       <div id='button'>
        
        <input id="but" class="random" type="button" value="Random" />
      
      
       </div>
     
    </nav>
    
    </header>



<form action="/sendEmail/{{id}}" method="POST" style="clear: left; text-align: center;">
	
	<h2>Send email to: {{name}}</h2><br> <br>
		

		
		<textarea class="text" name="description" style="text-align: left; width: 400px; height: 400px; overflow: auto;" >{{article_desc}}</textarea>
		<br>
		<input type="text" name="sender" placeholder="Enter your email" />
	<input type="submit" value="Submit">

</form>


<div id='globe'>

</div>